@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hgdmpx');
  src:  url('fonts/icomoon.eot?hgdmpx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hgdmpx') format('truetype'),
    url('fonts/icomoon.woff?hgdmpx') format('woff'),
    url('fonts/icomoon.svg?hgdmpx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ICON_ZOOM_05:before {
  content: "\e900";
}
.icon-ICON_ZOOM_04:before {
  content: "\e901";
}
.icon-ICON_ZOOM_03:before {
  content: "\e902";
}
.icon-ICON_ZOOM_02:before {
  content: "\e903";
}
.icon-ICON_ZOOM_01:before {
  content: "\e904";
}
.icon-ICON_WINTER_02:before {
  content: "\e905";
}
.icon-ICON_WINTER_01:before {
  content: "\e906";
}
.icon-ICON_WINDSHIELD_02:before {
  content: "\e907";
}
.icon-ICON_WINDSHIELD_01:before {
  content: "\e908";
}
.icon-ICON_WHEELS_04:before {
  content: "\e909";
}
.icon-ICON_WHEELS_03:before {
  content: "\e90a";
}
.icon-ICON_WHEELS_02:before {
  content: "\e90b";
}
.icon-ICON_WHEELS_01:before {
  content: "\e90c";
}
.icon-ICON_VISUALISATION_04:before {
  content: "\e90d";
}
.icon-ICON_VISUALISATION_03:before {
  content: "\e90e";
}
.icon-ICON_VISUALISATION_02:before {
  content: "\e90f";
}
.icon-ICON_VISUALISATION_01:before {
  content: "\e910";
}
.icon-ICON_VEHICULE_10:before {
  content: "\e911";
}
.icon-ICON_VEHICULE_09:before {
  content: "\e912";
}
.icon-ICON_VEHICULE_08:before {
  content: "\e913";
}
.icon-ICON_VEHICULE_07:before {
  content: "\e914";
}
.icon-ICON_VEHICULE_06:before {
  content: "\e915";
}
.icon-ICON_VEHICULE_05:before {
  content: "\e916";
}
.icon-ICON_VEHICULE_04:before {
  content: "\e917";
}
.icon-ICON_VEHICULE_03:before {
  content: "\e918";
}
.icon-ICON_VEHICULE_02:before {
  content: "\e919";
}
.icon-ICON_VEHICULE_01:before {
  content: "\e91a";
}
.icon-ICON_USER_04:before {
  content: "\e91b";
}
.icon-ICON_USER_03:before {
  content: "\e91c";
}
.icon-ICON_USER_02:before {
  content: "\e91d";
}
.icon-ICON_USER_01:before {
  content: "\e91e";
}
.icon-ICON_TYRES_01:before {
  content: "\e91f";
}
.icon-ICON_TIME_04:before {
  content: "\e920";
}
.icon-ICON_TIME_03:before {
  content: "\e921";
}
.icon-ICON_TIME_02:before {
  content: "\e922";
}
.icon-ICON_TIME_01:before {
  content: "\e923";
}
.icon-ICON_STATISTICS_02:before {
  content: "\e924";
}
.icon-ICON_STATISTICS_01:before {
  content: "\e925";
}
.icon-ICON_SPECS_03:before {
  content: "\e926";
}
.icon-ICON_SPECS_02:before {
  content: "\e927";
}
.icon-ICON_SPECS_01:before {
  content: "\e928";
}
.icon-ICON_SERVICING_03:before {
  content: "\e929";
}
.icon-ICON_SERVICING_02:before {
  content: "\e92a";
}
.icon-ICON_SERVICING_01:before {
  content: "\e92b";
}
.icon-ICON_ROADS_03:before {
  content: "\e92c";
}
.icon-ICON_ROADS_02:before {
  content: "\e92d";
}
.icon-ICON_ROADS_01:before {
  content: "\e92e";
}
.icon-ICON_PROMO_04:before {
  content: "\e92f";
}
.icon-ICON_PROMO_03:before {
  content: "\e930";
}
.icon-ICON_PROMO_02:before {
  content: "\e931";
}
.icon-ICON_PROMO_01:before {
  content: "\e932";
}
.icon-ICON_PLAYER_09:before {
  content: "\e933";
}
.icon-ICON_PLAYER_08:before {
  content: "\e934";
}
.icon-ICON_PLAYER_07:before {
  content: "\e935";
}
.icon-ICON_PLAYER_06:before {
  content: "\e936";
}
.icon-ICON_PLAYER_05:before {
  content: "\e937";
}
.icon-ICON_PLAYER_04:before {
  content: "\e938";
}
.icon-ICON_PLAYER_03:before {
  content: "\e939";
}
.icon-ICON_PLAYER_02:before {
  content: "\e93a";
}
.icon-ICON_PLAYER_01:before {
  content: "\e93b";
}
.icon-ICON_PARKING_01:before {
  content: "\e93c";
}
.icon-ICON_PAINTING_03:before {
  content: "\e93d";
}
.icon-ICON_PAINTING_02:before {
  content: "\e93e";
}
.icon-ICON_PAINTING_01:before {
  content: "\e93f";
}
.icon-ICON_OTHERS_05:before {
  content: "\e940";
}
.icon-ICON_OTHERS_04:before {
  content: "\e941";
}
.icon-ICON_OTHERS_03:before {
  content: "\e942";
}
.icon-ICON_OTHERS_02:before {
  content: "\e943";
}
.icon-ICON_OTHERS_01:before {
  content: "\e944";
}
.icon-ICON_MULTIMEDIA_04:before {
  content: "\e945";
}
.icon-ICON_MULTIMEDIA_03:before {
  content: "\e946";
}
.icon-ICON_MULTIMEDIA_02:before {
  content: "\e947";
}
.icon-ICON_MULTIMEDIA_01:before {
  content: "\e948";
}
.icon-ICON_MOTOR_05:before {
  content: "\e949";
}
.icon-ICON_MOTOR_04:before {
  content: "\e94a";
}
.icon-ICON_MOTOR_03:before {
  content: "\e94b";
}
.icon-ICON_MOTOR_02:before {
  content: "\e94c";
}
.icon-ICON_MOTOR_01:before {
  content: "\e94d";
}
.icon-ICON_MENU_19:before {
  content: "\e94e";
}
.icon-ICON_MENU_17:before {
  content: "\e94f";
}
.icon-ICON_MENU_16:before {
  content: "\e950";
}
.icon-ICON_MENU_15:before {
  content: "\e951";
}
.icon-ICON_MENU_14:before {
  content: "\e952";
}
.icon-ICON_MENU_13:before {
  content: "\e953";
}
.icon-ICON_MENU_12:before {
  content: "\e954";
}
.icon-ICON_MENU_11:before {
  content: "\e955";
}
.icon-ICON_MENU_10:before {
  content: "\e956";
}
.icon-ICON_MENU_09:before {
  content: "\e957";
}
.icon-ICON_MENU_08:before {
  content: "\e958";
}
.icon-ICON_MENU_07:before {
  content: "\e959";
}
.icon-ICON_MENU_06:before {
  content: "\e95a";
}
.icon-ICON_MENU_05:before {
  content: "\e95b";
}
.icon-ICON_MENU_04:before {
  content: "\e95c";
}
.icon-ICON_MENU_03:before {
  content: "\e95d";
}
.icon-ICON_MENU_02:before {
  content: "\e95e";
}
.icon-ICON_MENU_01:before {
  content: "\e95f";
}
.icon-ICON_MEDIA_05:before {
  content: "\e960";
}
.icon-ICON_MEDIA_04:before {
  content: "\e961";
}
.icon-ICON_MEDIA_03:before {
  content: "\e962";
}
.icon-ICON_MEDIA_02:before {
  content: "\e963";
}
.icon-ICON_MEDIA_01:before {
  content: "\e964";
}
.icon-ICON_MECHANICAL_05:before {
  content: "\e965";
}
.icon-ICON_MECHANICAL_04:before {
  content: "\e966";
}
.icon-ICON_MECHANICAL_03:before {
  content: "\e967";
}
.icon-ICON_MECHANICAL_02:before {
  content: "\e968";
}
.icon-ICON_MECHANICAL_01:before {
  content: "\e969";
}
.icon-ICON_MAINTENANCE_01:before {
  content: "\e96a";
}
.icon-ICON_LOCATION_05:before {
  content: "\e96b";
}
.icon-ICON_LOCATION_04:before {
  content: "\e96c";
}
.icon-ICON_LOCATION_03:before {
  content: "\e96d";
}
.icon-ICON_LOCATION_02:before {
  content: "\e96e";
}
.icon-ICON_LOCATION_01:before {
  content: "\e96f";
}
.icon-ICON_INFO_07:before {
  content: "\e970";
}
.icon-ICON_INFO_06:before {
  content: "\e971";
}
.icon-ICON_INFO_05:before {
  content: "\e972";
}
.icon-ICON_INFO_04:before {
  content: "\e973";
}
.icon-ICON_INFO_03:before {
  content: "\e974";
}
.icon-ICON_INFO_02:before {
  content: "\e975";
}
.icon-ICON_INFO_01:before {
  content: "\e976";
}
.icon-ICON_HOLIDAYS_01:before {
  content: "\e977";
}
.icon-ICON_HEADLIGHTS_04:before {
  content: "\e978";
}
.icon-ICON_HEADLIGHTS_03:before {
  content: "\e979";
}
.icon-ICON_HEADLIGHTS_02:before {
  content: "\e97a";
}
.icon-ICON_HEADLIGHTS_01:before {
  content: "\e97b";
}
.icon-ICON_GPS_04:before {
  content: "\e97c";
}
.icon-ICON_GPS_03:before {
  content: "\e97d";
}
.icon-ICON_GPS_02:before {
  content: "\e97e";
}
.icon-ICON_GPS_01:before {
  content: "\e97f";
}
.icon-ICON_GESTURE_24:before {
  content: "\e980";
}
.icon-ICON_GESTURE_23:before {
  content: "\e981";
}
.icon-ICON_GESTURE_22:before {
  content: "\e982";
}
.icon-ICON_GESTURE_21:before {
  content: "\e983";
}
.icon-ICON_GESTURE_20:before {
  content: "\e984";
}
.icon-ICON_GESTURE_19:before {
  content: "\e985";
}
.icon-ICON_GESTURE_18:before {
  content: "\e986";
}
.icon-ICON_GESTURE_17:before {
  content: "\e987";
}
.icon-ICON_GESTURE_16:before {
  content: "\e988";
}
.icon-ICON_GESTURE_15:before {
  content: "\e989";
}
.icon-ICON_GESTURE_14:before {
  content: "\e98a";
}
.icon-ICON_GESTURE_13:before {
  content: "\e98b";
}
.icon-ICON_GESTURE_12:before {
  content: "\e98c";
}
.icon-ICON_GESTURE_11:before {
  content: "\e98d";
}
.icon-ICON_GESTURE_10:before {
  content: "\e98e";
}
.icon-ICON_GESTURE_09:before {
  content: "\e98f";
}
.icon-ICON_GESTURE_08:before {
  content: "\e990";
}
.icon-ICON_GESTURE_07:before {
  content: "\e991";
}
.icon-ICON_GESTURE_06:before {
  content: "\e992";
}
.icon-ICON_GESTURE_05:before {
  content: "\e993";
}
.icon-ICON_GESTURE_04:before {
  content: "\e994";
}
.icon-ICON_GESTURE_03:before {
  content: "\e995";
}
.icon-ICON_GESTURE_02:before {
  content: "\e996";
}
.icon-ICON_GESTURE_01:before {
  content: "\e997";
}
.icon-ICON_GASEMISSION_02:before {
  content: "\e998";
}
.icon-ICON_GASEMISSION_01:before {
  content: "\e999";
}
.icon-ICON_GAME_03:before {
  content: "\e99a";
}
.icon-ICON_GAME_02:before {
  content: "\e99b";
}
.icon-ICON_GAME_01:before {
  content: "\e99c";
}
.icon-ICON_FUEL_07:before {
  content: "\e99d";
}
.icon-ICON_FUEL_06:before {
  content: "\e99e";
}
.icon-ICON_FUEL_05:before {
  content: "\e99f";
}
.icon-ICON_FUEL_04:before {
  content: "\e9a0";
}
.icon-ICON_FUEL_03:before {
  content: "\e9a1";
}
.icon-ICON_FUEL_02:before {
  content: "\e9a2";
}
.icon-ICON_FUEL_01:before {
  content: "\e9a3";
}
.icon-ICON_FAVORITE_02:before {
  content: "\e9a4";
}
.icon-ICON_FAVORITE_01:before {
  content: "\e9a5";
}
.icon-ICON_FACTORY_02:before {
  content: "\e9a6";
}
.icon-ICON_FACTORY_01:before {
  content: "\e9a7";
}
.icon-ICON_EXTERIOR_05:before {
  content: "\e9a8";
}
.icon-ICON_EXTERIOR_04:before {
  content: "\e9a9";
}
.icon-ICON_EXTERIOR_03:before {
  content: "\e9aa";
}
.icon-ICON_EXTERIOR_02:before {
  content: "\e9ab";
}
.icon-ICON_EXTERIOR_01:before {
  content: "\e9ac";
}
.icon-ICON_ENGINE_05:before {
  content: "\e9ad";
}
.icon-ICON_ENGINE_04:before {
  content: "\e9ae";
}
.icon-ICON_ENGINE_03:before {
  content: "\e9af";
}
.icon-ICON_ENGINE_02:before {
  content: "\e9b0";
}
.icon-ICON_ENGINE_01:before {
  content: "\e9b1";
}
.icon-ICON_EMOJIS_07:before {
  content: "\e9b2";
}
.icon-ICON_EMOJIS_06:before {
  content: "\e9b3";
}
.icon-ICON_EMOJIS_05:before {
  content: "\e9b4";
}
.icon-ICON_EMOJIS_04:before {
  content: "\e9b5";
}
.icon-ICON_EMOJIS_03:before {
  content: "\e9b6";
}
.icon-ICON_EMOJIS_02:before {
  content: "\e9b7";
}
.icon-ICON_EMOJIS_01:before {
  content: "\e9b8";
}
.icon-ICON_EMERGENCY_02:before {
  content: "\e9b9";
}
.icon-ICON_EMERGENCY_01:before {
  content: "\e9ba";
}
.icon-ICON_ELECTRIC_07:before {
  content: "\e9bb";
}
.icon-ICON_ELECTRIC_06:before {
  content: "\e9bc";
}
.icon-ICON_ELECTRIC_05:before {
  content: "\e9bd";
}
.icon-ICON_ELECTRIC_04:before {
  content: "\e9be";
}
.icon-ICON_ELECTRIC_03:before {
  content: "\e9bf";
}
.icon-ICON_ELECTRIC_02:before {
  content: "\e9c0";
}
.icon-ICON_ELECTRIC_01:before {
  content: "\e9c1";
}
.icon-ICON_EDIT_06:before {
  content: "\e9c2";
}
.icon-ICON_EDIT_05:before {
  content: "\e9c3";
}
.icon-ICON_EDIT_04:before {
  content: "\e9c4";
}
.icon-ICON_EDIT_03:before {
  content: "\e9c5";
}
.icon-ICON_EDIT_02:before {
  content: "\e9c6";
}
.icon-ICON_EDIT_01:before {
  content: "\e9c7";
}
.icon-ICON_DEVICES_05:before {
  content: "\e9c8";
}
.icon-ICON_DEVICES_04:before {
  content: "\e9c9";
}
.icon-ICON_DEVICES_03:before {
  content: "\e9ca";
}
.icon-ICON_DEVICES_02:before {
  content: "\e9cb";
}
.icon-ICON_DEVICES_01:before {
  content: "\e9cc";
}
.icon-ICON_DESK_07:before {
  content: "\e9cd";
}
.icon-ICON_DESK_06:before {
  content: "\e9ce";
}
.icon-ICON_DESK_05:before {
  content: "\e9cf";
}
.icon-ICON_DESK_04:before {
  content: "\e9d0";
}
.icon-ICON_DESK_03:before {
  content: "\e9d1";
}
.icon-ICON_DESK_02:before {
  content: "\e9d2";
}
.icon-ICON_DESK_01:before {
  content: "\e9d3";
}
.icon-ICON_DACIA_02:before {
  content: "\e9d4";
}
.icon-ICON_DACIA_01:before {
  content: "\e9d5";
}
.icon-ICON_CUSTOMIZE_03:before {
  content: "\e9d6";
}
.icon-ICON_CUSTOMIZE_02:before {
  content: "\e9d7";
}
.icon-ICON_CUSTOMIZE_01:before {
  content: "\e9d8";
}
.icon-ICON_CUSTOMBOOKLET_04:before {
  content: "\e9d9";
}
.icon-ICON_CUSTOMBOOKLET_03:before {
  content: "\e9da";
}
.icon-ICON_CUSTOMBOOKLET_02:before {
  content: "\e9db";
}
.icon-ICON_CUSTOMBOOKLET_01:before {
  content: "\e9dc";
}
.icon-ICON_COMMUNICATION_03:before {
  content: "\e9dd";
}
.icon-ICON_COMMUNICATION_02:before {
  content: "\e9de";
}
.icon-ICON_COMMUNICATION_01:before {
  content: "\e9df";
}
.icon-ICON_COMMITMENT_04:before {
  content: "\e9e0";
}
.icon-ICON_COMMITMENT_03:before {
  content: "\e9e1";
}
.icon-ICON_COMMITMENT_02:before {
  content: "\e9e2";
}
.icon-ICON_COMMITMENT_01:before {
  content: "\e9e3";
}
.icon-ICON_COMMERCIAL_12:before {
  content: "\e9e4";
}
.icon-ICON_COMMERCIAL_11:before {
  content: "\e9e5";
}
.icon-ICON_COMMERCIAL_10:before {
  content: "\e9e6";
}
.icon-ICON_COMMERCIAL_09:before {
  content: "\e9e7";
}
.icon-ICON_COMMERCIAL_08:before {
  content: "\e9e8";
}
.icon-ICON_COMMERCIAL_07:before {
  content: "\e9e9";
}
.icon-ICON_COMMERCIAL_06:before {
  content: "\e9ea";
}
.icon-ICON_COMMERCIAL_05:before {
  content: "\e9eb";
}
.icon-ICON_COMMERCIAL_04:before {
  content: "\e9ec";
}
.icon-ICON_COMMERCIAL_03:before {
  content: "\e9ed";
}
.icon-ICON_COMMERCIAL_02:before {
  content: "\e9ee";
}
.icon-ICON_COMMERCIAL_01:before {
  content: "\e9ef";
}
.icon-ICON_COCKPIT_07:before {
  content: "\e9f0";
}
.icon-ICON_COCKPIT_06:before {
  content: "\e9f1";
}
.icon-ICON_COCKPIT_05:before {
  content: "\e9f2";
}
.icon-ICON_COCKPIT_04:before {
  content: "\e9f3";
}
.icon-ICON_COCKPIT_03:before {
  content: "\e9f4";
}
.icon-ICON_COCKPIT_02:before {
  content: "\e9f5";
}
.icon-ICON_COCKPIT_01:before {
  content: "\e9f6";
}
.icon-ICON_BREAKDOWN_02:before {
  content: "\e9f7";
}
.icon-ICON_BREAKDOWN_01:before {
  content: "\e9f8";
}
.icon-ICON_ARROW_12:before {
  content: "\e9f9";
}
.icon-ICON_ARROW_11:before {
  content: "\e9fa";
}
.icon-ICON_ARROW_10:before {
  content: "\e9fb";
}
.icon-ICON_ARROW_09:before {
  content: "\e9fc";
}
.icon-ICON_ARROW_08:before {
  content: "\e9fd";
}
.icon-ICON_ARROW_07:before {
  content: "\e9fe";
}
.icon-ICON_ARROW_06:before {
  content: "\e9ff";
}
.icon-ICON_ARROW_05:before {
  content: "\ea00";
}
.icon-ICON_ARROW_04:before {
  content: "\ea01";
}
.icon-ICON_ARROW_03:before {
  content: "\ea02";
}
.icon-ICON_ARROW_02:before {
  content: "\ea03";
}
.icon-ICON_ARROW_01:before {
  content: "\ea04";
}
.icon-ICON_ACCESSORIES_05:before {
  content: "\ea05";
}
.icon-ICON_ACCESSORIES_04:before {
  content: "\ea06";
}
.icon-ICON_ACCESSORIES_03:before {
  content: "\ea07";
}
.icon-ICON_ACCESSORIES_02:before {
  content: "\ea08";
}
.icon-ICON_ACCESSORIES_01:before {
  content: "\ea09";
}
