@font-face {
	font-family: 'Read';
	src: url('Read-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Read';
	src: url('Read-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}