@font-face {
	font-family: 'Renault Life';
	src: url('RenaultLife-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Renault Life';
	src: url('RenaultLife-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}